<html>
  <head>
    <link rel="stylesheet" type= "text/css" href="stylesheets/style.css">
  </head>
  <body>
    <center>
    <ul>
  <li><a href ="/index">Home</a></li>
  <li><a href="/quizzz">Quiz</a></li>
  <li><a href="/about">About</a></a></li>
  <li><a href= "https://www.kodewithklossy.com">Kode with Klossy</a></li>
</ul>
  <h1>About</h1>
<h2> Hi! I'm Alea Jane. Welcome to my site!</h2>
<br></br>

<h3> I have been traveling for as long as I can remember. Many destinations in Europe, the Caribbean/Bahamas, Australia, New Zealand, Tahiti,and the Islands of Hawai'i' all mark some of my favorite journey. In Europe, my favorites have been Coppenhagen Denmark, Barcalona Spain, Mykonos Greece, London, and Venice Italy. I've spent time in Auckland NZ and Queensland AUS. Mo'orea Tahiti is absolutely sublime. I have family in Hawai'i'(I was born there) and go there 2-3 times a year! This website is made possible by Kode with Klossy. Thanks to Kyla & McKenzie, my amazing teachers. XOXO </h3>

<br></b>

<h2>Alea Pindat Kahele </h2>

<img src= "https://github.com/aleajane/aleajane.github.io/blob/master/unnamed-5.jpg?raw=true" width = "50%" height = "50%">
</center>
    
</body>
</html>